body {
    font-family: "Lato", sans-serif;
    background-image: linear-gradient(180.2deg, rgba(30, 33, 48, 1) 6.8%, rgba(74, 98, 110, 1) 131%);
    color: black;
    text-align: center;
    height: 100%;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.welcome {
    background-image: linear-gradient(180.2deg, rgba(30, 33, 48, 1) 6.8%, rgba(74, 98, 110, 1) 131%);
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0%;
    left: 0%;
}

.container {
    margin: 100px auto;
    padding: 80px 0;
    text-align: center;
}

form {
    margin-top: 40px;
}

form input {
    outline: 0;
    border: 1px solid rgba(255, 255, 255, 0.4);
    background-color: rgba(255, 255, 255, 0.2);
    width: 250px;
    border-radius: 3px;
    padding: 10px 15px;
    margin: 0 auto 10px auto;
    display: block;
    text-align: center;
    font-size: 18px;
    transition-duration: 0.25s;
    font-weight: 300;
    color: white;
}

form input:hover {
    background-color: rgba(255, 255, 255, 0.4);
}

form input:focus {
    background-color: white;
    width: 300px;
    color: #455a64;
}

form button {
    outline: 0;
    background-color: white;
    border: 0;
    padding: 10px 15px;
    color: #455a64;
    border-radius: 3px;
    width: 280px;
    cursor: pointer;
    font-size: 18px;
    transition-duration: 0.25s;
}

form button:hover {
    background-color: #f5f7f9;
}

h1 {
    color: white;
    font-size: 40px;
    font-weight: 200;
}

h4 {
    color: white;
    text-align: center;
    background-color: #455a64;
    font-size: 45px;
    width: 330px;
    height: 60px;
    margin: 0 auto;
    border-radius: 3.2em;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
    margin-top: 34px;
}

h5 {
    margin-bottom: 5px;
}

.board {
    border: 1px solid #4facfe;
    position: relative;
    display: inline-block;
    border-radius: 3.2em;
    margin-top: 34px;
    opacity: 0.2;
    width: auto;
    overflow-x: auto;
}

.cell {
    width: 100px;
    height: 100px;
    opacity: 0.5;
    display: inline-block;
    border: 1px solid #4facfe;
    border-radius: 50%;
    margin: 5px;
    box-shadow: inset 0 0.25em 0.3125em rgba(0, 0, 0, 0.5);
}

.cell.empty {
    cursor: pointer;
}

.cell-red {
    background-color: salmon;
    opacity: 0.5;
}

.cell-blue {
    background-color: #303f9f;
    opacity: 0.5;
}

.cell.red {
    background-color: #ff5252;
    opacity: 1;
}

.cell.blue {
    background-color: #303f9f;
    opacity: 1;
}

.configuration {
    background-color: #455a64;
    width: 200px;
    height: 300px;
    padding: 20px;
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    margin: auto;
    border-radius: 3.2em;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
    display: unset;
    color: white;
}

.configuration.rules {
    display: none;
}

.configuration.leaderboard {
    display: none;
}

.table.leaderboard {
    margin: 0 auto;
}
.table.leaderboard th{
    padding: 9px;
    border-bottom: 2px solid white;
    text-align: center;
    
}

h3 {
    margin-bottom: 3px;
    float: left;
}

td {
    padding: 5px;
    text-align: center;
}

.config-size {
    margin-top: -20px;
    color: white;
}

.config-size select {
    margin-bottom: 0px;
    margin-top: 0px;
    display: inline-block;
    width: 40px;
    height: 30px;
    text-align: center;
}

.config-size p {
    margin-bottom: 0px;
    margin-top: 0px;
    display: inline-block;
    width: 10px;
}

.config-opponent {
    color: white;
}

.opponent-option {
    display: inline-block;
}

.opponent-option input {
    display: none;
}

.opponent-option label {
    display: block;
    width: 50px;
    height: 25px;
    background-color: #666;
    border: solid 2px #ccc;
    border-radius: 8px;
    color: #999;
    text-align: center;
    line-height: 24px;
    cursor: pointer;
}

.opponent-option input:checked+label {
    color: #fff;
    background-color: #593f6b;
    border-color: #fff;
    cursor: default;
}

.config-first {
    color: white;
}

.first-option {
    display: inline-block;
}

.first-option input {
    display: none;
}

.first-option label {
    display: block;
    width: 65px;
    height: 25px;
    background-color: #666;
    border: solid 2px #ccc;
    border-radius: 8px;
    color: #999;
    text-align: center;
    line-height: 24px;
    cursor: pointer;
}

.first-option input:checked+label {
    color: #fff;
    background-color: #593f6b;
    border-color: #fff;
    cursor: default;
}

.config-dif {
    color: white;
}

.dif-level {
    display: inline-block;
}

.dif-level input {
    display: none;
}

.dif-level label {
    display: block;
    width: 24px;
    height: 24px;
    background-color: #666;
    border: solid 2px #ccc;
    border-radius: 8px;
    color: #999;
    text-align: center;
    line-height: 24px;
    cursor: pointer;
}

.dif-level input:checked+label {
    color: #fff;
    background-color: #593f6b;
    border-color: #fff;
    cursor: default;
}

.button {
    background-color: white;
    color: black;
    border: none;
    border-radius: 3.2em;
    padding: 20px 20px;
    text-decoration: none;
    height: 40px;
    line-height: 1px;
    cursor: pointer;
    text-align: center;
    font-size: 100%;
    outline: none;
    margin-top: 10px;
}

.cmd-btn {
    display: inline-block;
    background-color: rgba(30, 33, 48, 1);
    color: white;
    font-size: 80%;
    margin-top: 10px;
}

.button:hover {
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.2);
    transform: translateY(-3px);
}

.button:active {
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
    transform: translateY(-1px);
}

.btn-logout img {
    width: 46px;
    border-radius: 50px;
    float: left;
    background-color: white;
}

.logout-label {
    position: relative;
    bottom: -15px;
    overflow: hidden;
    transition: opacity .45s;
    color: white;
    text-align: center;
}

.user-logout {
    color: white;
}

.btn-logout {
    float: right;
    padding: 2px;
    width: 50px;
    background-color: #455a64;
    transition: width .35s;
    overflow: hidden;
    outline: none;
    border-radius: 3.2em;
    border: 0px;
    position: absolute;
    top: 34px;
    right: 10px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
}

.btn-logout:hover {
    width: 130px;
    cursor: pointer;
}

.btn-logout:hover>.user-logout {
    display: none;
}

.val-html {
    text-align: right;
    position: absolute;
    top: 124px;
    right: 10px;
}

.val-css {
    text-align: right;
    position: absolute;
    top: 160px;
    right: 10px;
}

.val-html img {
    width: 80px;
}

.val-css img {
    width: 80px;
}

.current-player {
    color: white;;
    text-align: center;
    font-size: 35px;
    width: 200px;
    height: 50px;
    border-radius: 8px;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
    display: none;
    position:absolute;
    top: 50%;
    margin-left: 35px;
    bottom: 0;
}

.who-won {
    background-color: #4facfe;
    width: 200px;
    height: 50px;
    padding: 20px;
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    margin: auto;
    border-radius: 8px;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
    display: none;
    color: white;
}

.quit {
    background-color: #455a64;
    width: 200px;
    height: 100px;
    padding: 20px;
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    margin: auto;
    border-radius: 8px;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
    display: none;
    color: white;
}

.quit button {
    float: right;
}

.quit p {
    margin-top: 0px;
    margin-bottom: 0px;
    text-align: left;
}